body {
  background-color: #e0cbb4;
  font-family: 'Quicksand', sans-serif;
  color: #0b0803;
  line-height: 1.5;
}

h1,
h2 {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

p {
  font-size: 18px;
}

a,
button {
  font-size: 16px;
}

main > section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.nav-links-gap {
  gap: 32px;
}
