.experience__title {
  margin-bottom: 24px;
  font-size: 36px;
  text-align: center;
}

.experience__text {
  margin-bottom: 32px;
  text-align: center;
}

.experience__gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}

.experience__gallery-image {
  border-radius: 32px;
}

@media (min-width: 768px) {
  .experience__gallery {
    flex-direction: row;
    gap: 32px;
  }
}

@media (min-width: 1440px) {
  .experience__title {
    font-size: 48px;
  }

  .experience__gallery {
    flex-direction: column;
    max-height: 948px;
  }
}
