.footer {
  background-color: #b58869;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer svg,
.footer a {
  display: block;
}

.footer-content {
  background-color: #c29d84;
  border: 1px solid rgba(11, 8, 3, 0.15);
  border-radius: 40px;
  padding: 32px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}

.footer-follow-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.footer-social {
  display: flex;
  gap: 12px;
  align-items: center;
}

.footer .nav-links-gap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav-link {
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  opacity: 0.5;
}

.footer-legal {
  text-align: center;
  font-size: 14px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .footer-follow-us {
    flex-direction: row;
  }

  .footer-social svg {
    width: 24px;
    height: 24px;
  }

  .footer-logo {
    width: 84px;
    height: 36px;
  }

  .footer .nav-links-gap {
    flex-direction: row;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }
}
