.header {
  background-color: #e0cbb4;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.header-logo {
  padding: 18px 0;
  display: block;
}
.header-svg {
  display: block;
}

.nav-links-gap {
  display: none;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  display: block;
  box-shadow: none;
  border: none;
}

.burger-icon {
  display: block;
  fill: #0b0803;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-container {
    display: block;
  }

  .header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-links-gap {
    display: flex;
  }

  .header-list-link {
    font-weight: 400;
    line-height: 1.5;
    color: #0b0803;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* .header-list-link:hover,
  .header-list-link:focus {
    opacity: 0.5;
  } */
}
