.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  padding: 18px 0;
  display: block;
}
.header-logo > svg {
  display: block;
}

.nav-links-gap {
  display: none;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  display: block;

  border: none;
}

.burger-btn > svg {
  display: block;
  fill: #0b0803;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-container {
    padding: 0 64px;
  }
  .header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .nav-links-gap {
    display: flex;
  }

  .header-nav-links {
    padding-bottom: 6px;
    padding-top: 6px;
  }

  .header-list-link {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* .header-list-link:hover,
  .header-list-link:focus {
    opacity: 0.5;
  } */
}
