.hero {
  padding-top: 109px;
  padding-bottom: 109px;
  max-width: 320px;
  margin: 0 auto;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/img/hero/hero.jpg);

  @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
    background-image:
      linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/img/hero/hero-2x.jpg);
  }
}

.hero > .container {
  padding: 0 32px;
}

.hero-title {
  font-size: 40px;
  max-width: 256px;
  margin-bottom: 24px;
}

.hero-text {
  max-width: 256px;
  margin-bottom: 32px;
}

.hero-link {
  display: block;
  font-weight: 500;
  border-radius: 100px;
  padding: 10px 24px;
  width: 135px;
  height: 44px;
  box-shadow:
    0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6f4e37;
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 312px;
    padding-bottom: 312px;
    max-width: 768px;
  }

  .hero-title {
    max-width: 560px;
  }

  .hero-text {
    max-width: 560px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero > .container {
    padding: 0 64px;
  }

  .hero {
    padding-top: 259px;
    padding-bottom: 259px;
    max-width: 1440px;
  }

  .hero-title {
    font-size: 56px;
  }

  .hero-link {
    transition:
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero-link:hover,
  .hero-link:focus {
    opacity: 0.5;
  }

  .hero-link:active {
    box-shadow: none;
  }
}
