.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100%;
  width: 100%;
  background-color: #e0cbb4;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.mobile-menu.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.mobile-menu-container {
  min-width: 320px;
  max-width: 375px;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
}

.logo-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}
.header-logo {
  display: flex;
  align-items: center;
}
.mobile-menu-close {
  background-color: transparent;
  padding: 12px;
  border: none;
}

.mobile-menu-nav {
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}
.nav-list-mobile {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 32px;
}

.header-list-link {
  font-weight: 400;

  line-height: 1.5;
  color: #0b0803;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
