.quality {
  background-color: #e0cbb4;
  text-align: center;
}

.quality-header {
  max-width: 768px;
  margin: 0 auto 48px;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}


.quality-label {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 16px;
  gap: 0px;
}

.quality-title {
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 16px;
}

.quality-text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 32px;
}

.quality-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.quality-item {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.quality-item picture {
  display: block;
  width: 100%;
}

.quality-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 32px;
  display: block;
}


@media screen and (min-width: 768px) {

  .quality-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
  .quality-item:nth-child(3) {
    grid-column: span 2;
  }
  
  .quality-item img {
    width: 100%;
    aspect-ratio: 340 / 193;
  }
  
  .quality-item:nth-child(3) img {
    width: 100%;
    aspect-ratio: 704 / 401;
  }

  
}


@media screen and (min-width: 1140px) {

  .quality-list {
    grid-template-columns: repeat(3, 1fr);
  }

  
  .quality-item img {
    width: 100%;
    aspect-ratio: 421 / 240;;
  }
  
  .quality-item:nth-child(3) img {
    width: 100%;
    aspect-ratio: 421 / 240;
  }
    
  .quality-item:nth-child(3) {
    grid-column: auto;
  }
}