.subscribe .section-title {
  margin-bottom: 24px;
  font-size: 36px;
}

.subscribe-content-text {
  line-height: 1.5;
}

.subscribe-actions {
  margin: 32px 0;
}

.subscribe-form-field {
  margin-bottom: 24px;
}

.subscribe-form-input {
  padding: 8px 12px;
  width: 100%;
  height: 40px;
  border-radius: 12px;
  border: 1px solid rgba(11, 8, 3, 0.15);
  background: rgba(255, 255, 255, 0);
}

.subscribe-form-button {
  width: 100%;
  height: 44px;
  border-radius: 100px;
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), 
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), 
    inset 0 0 0 1px rgba(11, 8, 3, 0.15), 
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), 
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #6f4e37;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
}

.subscribe-form-button > span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
}

.subscribe-symbol {
  fill: #fff;
}

.subscribe-actions-text {
  margin-top: 16px;
  font-size: 12px;
  line-height: 1.5;
}

.subscribe-terms-link {
  font-size: 12px;
  line-height: 1.5;
  color: #0b0803;
}

.subscribe-picture {
  width: 100%;
  flex-shrink: 0;
}

.subscribe-picture > img {
  width: 100%;
  border-radius: 40px;
}