.modal-overlay {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transform: translateX(-100%); */
  /* transition: transform 0.3s ease; */
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  /* transform: translateX(0); */
}

.modal-overlay:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 40px;
  padding: 64px 16px;
  width: 288px;
  background-color: #e0cbb4;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background-color: transparent;
  padding: 0;
  border-radius: none;
}

.modal-svg-btn {
  display: flex;
}

.modal-title {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.modal-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 24px;
}

.wrapper-img-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.modal-img {
  border-radius: 24px;
}

.modal-btn {
  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  box-shadow:
    0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6f4e37;
  border: none;
  display: block;
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 64px 30px;
    width: 704px;
  }

  .modal-title {
    font-size: 36px;
    max-width: 502px;
    margin: 0 auto 16px auto;
  }

  .modal-text {
    margin-bottom: 48px;
  }

  .wrapper-img-btn {
    gap: 48px;
  }

  .modal-img {
    border-radius: 40px;
  }
  .modal-btn {
    max-width: 340px;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    padding: 64px;
    width: 866px;
  }

  .modal-close-btn {
    right: 73px;
  }

  .modal-title {
    font-size: 48px;
    max-width: 738px;
  }

  .modal-img {
    width: 100%;
    max-width: 644px;
    margin: 0 auto;
  }
  .modal-btn {
    max-width: 244px;
  }
}
