<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-follow-us">
        <a href="/index.html">
          <svg class="footer-logo" width="146" height="84">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="footer-social">
          <li>
            <a href="https://www.facebook.com/" target="_blank">
              <svg width="32" height="32">
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank">
              <svg width="32" height="32">
                <use href="/img/icons.svg#icon-instagramm"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://x.com/" target="_blank">
              <svg width="32" height="32">
                <use href="/img/icons.svg#icon-x"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <ul class="nav-links-gap">
        <li>
          <a class="footer-nav-link" href="#">About us</a>
        </li>
        <li>
          <a class="footer-nav-link" href="#">Benefits</a>
        </li>
        <li>
          <a class="footer-nav-link" href="#">Gallery</a>
        </li>
        <li>
          <a class="footer-nav-link" href="#">Testimonial</a>
        </li>
        <li>
          <a class="footer-nav-link" href="#">Location</a>
        </li>
      </ul>
    </div>
    <p class="footer-legal">&copy; 2025 CoffeeJoy. All rights reserved.</p>
  </div>
</footer>
