<div class="mobile-menu" data-menu>
  <div class="mobile-menu-container">
    <div class="logo-btn-container">
      <a class="header-logo" href="./index.html">
        <svg class="" width="84" height="36">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <button class="mobile-menu-close" type="button" data-menu-close>
        <svg class="modal-svg-btn" width="24" height="24">
          <use href="./img/icons.svg#icon-x-close"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-menu-nav">
      <ul class="nav-list-mobile">
        <li class="mobile-menu-list">
          <a href="#about-us" class="header-list-link">About us</a>
        </li>
        <li class="mobile-menu-list">
          <a href="#benefits" class="header-list-link">Benefits</a>
        </li>
        <li class="mobile-menu-list">
          <a href="#gallery" class="header-list-link">Gallery</a>
        </li>
        <li class="mobile-menu-list">
          <a href="#testimonial" class="header-list-link">Testimonial</a>
        </li>
        <li class="mobile-menu-list">
          <a href="#location" class="header-list-link">Location</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
