<section class="quality" id="quality">
  <div class="container">

    <p class="quality-label">Quality</p>

    <h2 class="quality-title">
      WHY COFFEEJOY STANDS OUT FROM THE REST
    </h2>

    <p class="quality-text">
      At CoffeeJoy, we pride ourselves on delivering the freshest roasted coffee, crafted with care by our skilled baristas.
      Our flexible subscription plans ensure that your coffee experience is tailored to your needs.
    </p>

    <ul class="quality-list">

      <li class="quality-item">
        <img src="../img/quality/fresh.jpg" srcset="../img/quality/fresh.jpg 1x, ../img/quality/fresh@2x.jpg 2x" alt="Fresh roasted coffee">
        <h3>Fresh-Roasted Coffee for Every Taste</h3>
        <p>Savor the rich flavors of expertly sourced beans.</p>
      </li>

      <li class="quality-item">
        <img src="../img/quality/expert.jpg" srcset="../img/quality/expert.jpg 1x, ../img/quality/expert@2x.jpg 2x" alt="Expert baristas">
        <h3>Expert Baristas Crafting Your Perfect Brew</h3>
        <p>Our baristas are passionate about coffee and skilld in their craft.</p>
      </li>

      <li class="quality-item">
        <img src="../img/quality/cozy.jpg" srcset="../img/quality/cozy.jpg 1x, ../img/quality/cozy@2x.jpg 2x" alt="Cozy atmosphere">
        <h3>Cozy Atmosphere</h3>
        <p>We don’t just serve coffee — we create a warm and welcoming space where every cup feels like home.</p>
      </li>

    </ul>

  </div>
</section>
