<section class="quality" id="quality">
  <div class="container">

    <div class="quality-header">

    <p class="quality-label">Quality</p>

    <h2 class="quality-title">
      WHY COFFEEJOY STANDS OUT FROM THE REST
    </h2>

    <p class="quality-text">
      At CoffeeJoy, we pride ourselves on delivering the freshest roasted coffee, crafted with care by our skilled baristas.
      Our flexible subscription plans ensure that your coffee experience is tailored to your needs.
    </p>

    </div>

    <ul class="quality-list">

      <li class="quality-item">
        <picture>
    
          <source media="(min-width: 1140px)" srcset="
                /img/quality/fresh-desk.jpg 1x,
                /img/quality/fresh-desk@2x.jpg 2x
              ">
        
          <source media="(min-width: 768px)" srcset="
                /img/quality/fresh-tab.jpg 1x,
                /img/quality/fresh-tab@2x.jpg 2x
              ">
          
              <img src="/img/quality/fresh-mob.jpg" srcset="/img/quality/fresh-mob@2x.jpg 2x" alt="Fresh roasted coffee">
        
        </picture>

        <h3>Fresh-Roasted Coffee for Every Taste</h3>
        <p>Savor the rich flavors of expertly sourced beans.</p>
      </li>

      <li class="quality-item">
        <picture>
        
          <source media="(min-width: 1140px)" srcset="
                /img/quality/expert-desk.jpg 1x,
                /img/quality/expert-desk@2x.jpg 2x
              ">
        
          <source media="(min-width: 768px)" srcset="
                /img/quality/expert-tab.jpg 1x,
                /img/quality/expert-tab@2x.jpg 2x
              ">
        
          <img src="/img/quality/expert-mob.jpg" srcset="/img/quality/expert-mob@2x.jpg 2x" alt="Expert baristas">
        
        </picture>

        <h3>Expert Baristas Crafting Your Perfect Brew</h3>
        <p>Our baristas are passionate about coffee and skilld in their craft.</p>
      </li>

      <li class="quality-item">
        <picture>
        
          <source media="(min-width: 1140px)" srcset="
                        /img/quality/cozy-desk.jpg 1x,
                        /img/quality/cozy-desk@2x.jpg 2x
                      ">
        
          <source media="(min-width: 768px)" srcset="
                        /img/quality/cozy-tab.jpg 1x,
                        /img/quality/cozy-tab@2x.jpg 2x
                      ">
        
          <img src="/img/quality/cozy-mob.jpg" srcset="/img/quality/cozy-mob@2x.jpg 2x" alt="Cozy atmosphere">
        
        </picture>
        <h3>Cozy Atmosphere</h3>
        <p>We don’t just serve coffee — we create a warm and welcoming space where every cup feels like home.</p>
      </li>

    </ul>

  </div>
</section>
