<section id="subscribe" class="subscribe">
  <div class="container subscribe-container">
    <div class="subscribe-column">
      <div class="subscribe-content">
        <h2 class="section-title">Join Our Coffee Community</h2>
        <p class="subscribe-content-text">
          Experience the joy of coffee delivered right to your door. Sign up today!
        </p>
      </div>

      <div class="subscribe-actions">
        <form class="subscribe-form">
          <div class="subscribe-form-field">
            <input 
              type="email" 
              id="subscribe-input-email" 
              name="subscribe-email" 
              required 
              placeholder="Your Email Here" 
              aria-label="subscribe email input" 
              class="subscribe-form-input"
            >
            <label for="subscribe-input-email" class="subscribe-form-label"></label>
          </div>
          <button type="submit" class="subscribe-form-button">
            <span>
              Subscribe
              <svg class="subscribe-symbol" width="24" height="24">
                <use href="/img/icons.svg#icon-chevrons-right"></use>
              </svg>
            </span>
          </button>
        </form>
        <p class="subscribe-actions-text">
          <a href="#" target="_blank" class="subscribe-terms-link">
            By clicking Get Started, you agree to our Terms and Conditions.
          </a>
        </p>
      </div>
    </div>
    
    <picture class="subscribe-picture">
      <source 
        srcset="/img/subscribe/coffee-community-mobile.jpg 1x, /img/subscribe/coffee-community-mobile-2x.jpg 2x" 
        media="(max-width: 767px)"
      >
      <source 
        srcset="/img/subscribe/coffee-community-tablet.jpg 1x, /img/subscribe/coffee-community-tablet-2x.jpg 2x"
        media="(max-width: 1439px)"
      >
      <source 
        srcset="/img/subscribe/coffee-community-desktop.jpg 1x, /img/subscribe/coffee-community-desktop-2x.jpg 2x"
        media="(min-width: 1440px)"
      >
      <img 
        src="/img/subscribe/coffee-community-tablet.jpg" 
        alt="coffee community" 
        width="704"
      >
    </picture>
  </div>
</section>
