<section class="welcome-section">
  <div class="container">
    <div class="welcome-container">
      <div class="container-hero">
        <p class="welcome-word">Welcome</p>
        <h2 class="welcome-hero">Our Journey: Passion for Quality Coffee</h2>
      </div>
      <div class="container-about">
        <p class="welcome-text">At CoffeeJoy, we believe that every cup tells a story. Our mission is to bring you the
          finest coffee experiences,
          crafted with care and dedication. We are committed to sourcing high-quality beans and roasting them to
          perfection,
          ensuring each sip is a delight.
        </p>
        <a class="welcome-link" href="#">Find location
          <svg class="welcome-link-svg" width="20" height="20">
            <use href="/img/icons.svg#icon-map-pin"></use>
          </svg>
        </a>
      </div>
    </div>
    <img class="welcome-img" width="1312" height="738"
      srcset="/img/welcome/welcome.jpg 1x, /img/welcome/welcome@2x.jpg 2x" src="/img/welcome/welcome.jpg"
      alt="A man in an apron prepares coffee using the pour-over method: pouring hot water from a kettle into a funnel with a filter on the kitchen counter, surrounded by plants and coffee beans." />
  </div>
</section>